@import "base/variables";
@import 'base/animations.scss';
* {
    font-family: 'Museo Sans', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/benefits.scss';
@import 'blocks/consultation.scss';
@import 'blocks/titles.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/reviews.scss';
@import 'blocks/footer.scss';
@import 'blocks/modal.scss';
@import 'blocks/pageup.scss';
@import 'blocks/media.scss';

