.feed-form{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input{
        height: 54px;
        border-radius: 5px;
        border: none;
        background: #FFFFFF;
        margin-top: 15px;
        padding: 0 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 66px;
        color: #4B4B4B;
        }
    
    &_mt25{
        margin: 0 auto;
        margin-top: 25px;
        
    }
}