@media (max-width:1200px) {
    .carousel{
        .prev, .next {
            left: 0px;
        }
        .next {
            left: auto;
            right: 0px;
        }
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 700px;
    }
    .title_left{
        line-height: 45px;
        }
    }
    .carousel{
        .tns-item img{
            width: 550px;
            }
        }
        

@media (max-width: 768px) {
    .container{
        max-width: 550px;
    }
    .header>div {
        width: 33%;
    }
    .header {
        &__logo{
            width: 170px
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button{
        &_main{
            width: 136px;
            height: 31px;
            margin-top: 67px;
            width: 220px;
            height: 60px;
            font-size: 16px;
        }
    }
    
    .promo {
        min-height: 600px;
        padding: 21px 0 25px 0; 
        &__wrapper {
            margin-top: 50px;
            align-items:center;
        }
        &__header{
            text-align: center;
        }
        &__subheader{
            text-align: center;
        }
        &__link{
            font-size: 14px;
        }
    }
    .benefits{
        padding: 50px 0 50px 0;
        &__wrapper{
            margin-top: 30px;
        }
        &__descr{
            a{
                display: block;
            }
        }  
        &__subtitle{
            margin-top: 20px;
            font-size: 16px;
        }
        &__descr{
            margin-top: 20px;
        }     
    }
    .carousel{
        .tns-nav{
            display: block;
        }
    }


    .xs-hidden{
        display: none;
    }
}
@media (max-width: 576px){
    .xs-hidden{
        display: none;
    }
    .container{
        max-width: 300px;
    }
    .title{
        font-size: 26px;
    }
    .button{
        width: 114px;
        height: 25px;
        font-size: 9px;
        &_main{
            margin-top: 40px;
            width: 213px;
            height: 45px;
            font-size: 13px;}
            &_submit{
                width: 100%;
                height: 58px;
                font-size: 16px;
                }
        }
    .header {
        &__phone {
            font-size: 10px;
        }
    }
    .promo{
        &__header{
            font-size: 34px;
        }
        &__subheader{
            font-size: 18px;
        }
        &__icons{
            margin-top: 35px;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &__icon {
            margin-bottom: 20px;
            img{
                margin-bottom: 10px;
            }
        }
        &__link{
            font-size: 12px;
        }
    }
    .benefits{
        padding: 25px 0 25px 0 ;
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__icon{
            margin-top: 25px;
        }
        &__subtitle{
            margin-top: 10px;
        }
        &__descr{
            margin-top: 10px;
        }
        
    }
    .title{
        &_left{
            line-height: 32px;
            font-size: 23px;

        }
    }
    .consultation{
        min-height: 570px;
        padding: 30px 0 30px 0;
        &__descr{
            line-height: 22px;
        }
    }
    .feed-form{
        margin-top: 22px;
    }
    .carousel{
        padding: 40px 0 20px 0;
        .tns-item img{
            width: 300px;
            }
        }
}


